<section class="copyright">
    <div class="container">
        <div class="copyright-wrap">
            <div id="burder-copyright" class="copyright__burder">
                <span></span>
            </div>
            <div class="copyright__links">
                <a class="copyright__link" href="#">Privacy & Cookies</a>
                <a class="copyright__link" href="#">Terms & Conditions</a>
                <a class="copyright__link" href="#">Accessibility</a>
                <a class="copyright__link" href="#">Store Directory</a>
                <a class="copyright__link" href="#">About Us</a>
            </div>
            <div class="copyright__text">
                <p>© LookShop.com</p>
                <p>All Rights Reserved</p>
            </div>
        </div>
    </div>
</section>