<section class="fopter-inner">
    <div class="container">
        <div class="footer-inner-wrap">
            <div class="footer-inner-wrap-row">
                <div class="footer-inner-col">
                    <h4 class="footer-inner__title">Customer Service</h4>
                    <a href="#" class="footer-inner__link">Contact</a>
                    <a href="#" class="footer-inner__link">FAQ</a>
                    <a href="#" class="footer-inner__link">Terms of payment</a>
                    <a href="#" class="footer-inner__link">Terms of sale</a>
                    <a href="#" class="footer-inner__link">Delivery terms and conditions</a>
                    <a href="#" class="footer-inner__link">Returns and Refunds</a>
                </div>
                <div class="footer-inner-col">
                    <h4 class="footer-inner__title">Information</h4>
                    <a href="#" class="footer-inner__link">Affiliate</a>
                    <a href="#" class="footer-inner__link">Cookies</a>
                    <a href="#" class="footer-inner__link">How to Shop</a>
                    <a href="#" class="footer-inner__link">About Nelly</a>
                    <a href="#" class="footer-inner__link">Investor relations</a>
                </div>
                <div class="footer-inner-col">
                    <h4 class="footer-inner__title">Campaigns </h4>
                    <a href="#" class="footer-inner__link">Evening dresses</a>
                    <a href="#" class="footer-inner__link">Makeup</a>
                    <a href="#" class="footer-inner__link">Fashion forward</a>
                    <a href="#" class="footer-inner__link">training clothes</a>
                    <a href="#" class="footer-inner__link">Special Occasion Dresses</a>
                </div>
                <div class="footer-inner-col">
                    <h4 class="footer-inner__title">Stores</h4>
                    <a href="#" class="footer-inner__link">Paris</a>
                    <a href="#" class="footer-inner__link">New York</a>
                    <a href="#" class="footer-inner__link">London</a>
                    <a href="#" class="footer-inner__link">Madrid</a>
                    <a href="#" class="footer-inner__link">Tokio</a>
                </div>
            </div>
            <div class="footer-inner-wrap-row">
                <div class="footer-inner-col">
                    <h4 class="footer-inner__title">Social</h4>
                    <div class="footer-inner-col__social">
                        <a href="#" class="footer-inner__social"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="#" class="footer-inner__social"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                        <a href="#" class="footer-inner__social"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="#" class="footer-inner__social"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                        <a href="#" class="footer-inner__social"><i class="fa fa-tumblr" aria-hidden="true"></i></a>
                        <a href="#" class="footer-inner__social"><i class="fa fa-vimeo" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="footer-inner-col">
                    <div class="footer-inner__secured">
                        <div class="footer-inner__secured-block">
                            <p class="footer-inner__secured-text">100%</p>
                            <p class="footer-inner__secured-text">secured</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>