<section id="header-carousel" class="header-carousel">
    <div class="header-carousel__wrapper owl-carousel owl-theme">
        <div class="owl-carousel__item container">
            <div class="header-carousel__text">
                <div class="header-carousel__text-tag">Crazy</div>
                <div class="header-carousel__text-slogan">
                    crazy summer
                </div>
                <div class="header-carousel__text-type">woman collection</div>
                <a href="#" class="header-carousel__text-link"><span>shop now</span></a>
            </div>
            <div class="header-carousel__img">
                <img src="./images/header-carousel/01.png" alt="01.png">
            </div>
        </div>
        <div class="owl-carousel__item container">
            <div class="header-carousel__text">
                <div class="header-carousel__text-tag">Crazy</div>
                <div class="header-carousel__text-slogan">
                    crazy summer
                </div>
                <div class="header-carousel__text-type">woman collection</div>
                <a href="#" class="header-carousel__text-link"><span>shop now</span></a>
            </div>
            <div class="header-carousel__img">
                <img src="./images/header-carousel/01.png" alt="01.png">
            </div>
        </div>
        <div class="owl-carousel__item container">
            <div class="header-carousel__text">
                <div class="header-carousel__text-tag">Crazy</div>
                <div class="header-carousel__text-slogan">
                    crazy summer
                </div>
                <div class="header-carousel__text-type">woman collection</div>
                <a href="#" class="header-carousel__text-link"><span>shop now</span></a>
            </div>
            <div class="header-carousel__img">
                <img src="./images/header-carousel/01.png" alt="01.png">
            </div>
        </div>
        <div class="owl-carousel__item container">
            <div class="header-carousel__text">
                <div class="header-carousel__text-tag">Crazy</div>
                <div class="header-carousel__text-slogan">
                    crazy summer
                </div>
                <div class="header-carousel__text-type">woman collection</div>
                <a href="#" class="header-carousel__text-link"><span>shop now</span></a>
            </div>
            <div class="header-carousel__img">
                <img src="./images/header-carousel/01.png" alt="01.png">
            </div>
        </div>
        <div class="owl-carousel__item container">
            <div class="header-carousel__text">
                <div class="header-carousel__text-tag">Crazy</div>
                <div class="header-carousel__text-slogan">
                    crazy summer
                </div>
                <div class="header-carousel__text-type">woman collection</div>
                <a href="#" class="header-carousel__text-link"><span>shop now</span></a>
            </div>
            <div class="header-carousel__img">
                <img src="./images/header-carousel/01.png" alt="01.png">
            </div>
        </div>
    </div>
</section>