<section class="nav-panel">
    <div class="container nav-panel__wrap">
        <div class="nav-panel__info">
            <p class="nav-panel__info-text">custom care: <a href="tel:888-23-4567">888-23-4567</a></p>
        </div>
        <div class="nav-panel__buttons">
            <button id="nav-panel-currency" class="nav-panel__btn nav-panel__btn--currency">$&nbsp;US</button>
            <button id="nav-panel-profile" class="nav-panel__btn nav-panel__btn--profile">
                <i class="fa fa-user" aria-hidden="true"></i>
                my account</button>
            <button id="nav-panel-search" class="nav-panel__btn nav-panel__btn--search"><i class="fa fa-search" aria-hidden="true"></i></button>
        </div>
    </div>
</section>