<section class="navigation">
    <div class="container navigation__wrapper">
        <div class="navigation__logo">
            <a href="#">
            </a>
        </div>
        <div class="navigation__content">
            <div class="navigation__links">
                <a href="#" class="navigation__link">new</a>
                <a href="#" class="navigation__link">designers</a>
                <a href="#" class="navigation__link">women</a>
                <a href="#" class="navigation__link">men</a>
                <a href="#" class="navigation__link">clearence</a>
            </div>
            <form class="navigation__cart">
                <button class="navigation__cart-button">
                    Your cart
                </button>
                <div class="navigation__cart-desc">
                    <a href="#" class="cart-desc__link"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a>
                    <div class="cart-desc__choice">
                        <span class="cart-desc__choice-items">0 items</span>
                        <span class="cart-desc__choice-price">$ 0</span>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="container navigation__mobile">
        <div class="navigation__mobile-row">
            <div class="navigation__mobile-title">Menu</div>
            <button id="sidebar-btn" class="navigation__mobile-burger"><span></span></button>
        </div>
    </div>
    <aside id="sidebar" class="navigation__sidebar navigation__sidebar--hidden">
        <ul class="navigation__sidebar-col">
            <li>
                <a href="#" class="navigation__sidebar-link">new</a>
            </li>
            <li>
                <a href="#" class="navigation__sidebar-link">designers</a>
            </li>
            <li>
                <a href="#" class="navigation__sidebar-link">women</a>
            </li>
            <li>
                <a href="#" class="navigation__sidebar-link">men</a>
            </li>
            <li>
                <a href="#" class="navigation__sidebar-link">kids</a>
            </li>
            <li>
                <a href="#" class="navigation__sidebar-link">clearence</a>
            </li>
            <li>
                <a href="#" class="navigation__sidebar-link">premium</a>
            </li>
            <li>
                <a href="#" class="navigation__sidebar-link">Shirts, blouses</a>
            </li>
            <li>
                <a href="#" class="navigation__sidebar-link">Dresses, gowns</a>
            </li>
            <li>
                <a href="#" class="navigation__sidebar-link">Trousers, pants</a>
            </li>
            <li>
                <a href="#" class="navigation__sidebar-link">Jeans</a>
            </li>
            <li>
                <a href="#" class="navigation__sidebar-link">Skirts</a>
            </li>
            <li>
                <a href="#" class="navigation__sidebar-link">more...</a>
            </li>
            <li>
                <a href="#" class="navigation__sidebar-link">more...</a>
            </li>
            <li>
                <a href="#" class="navigation__sidebar-link">more...</a>
            </li>
            <li>
                <a href="#" class="navigation__sidebar-link">more...</a>
            </li>
            <li>
                <a href="#" class="navigation__sidebar-link">more...</a>
            </li>
            <li>
                <a href="#" class="navigation__sidebar-link">more...</a>
            </li>
            <li>
                <a href="#" class="navigation__sidebar-link">more...</a>
            </li>
            <li>
                <a href="#" class="navigation__sidebar-link">more...</a>
            </li>
            <li>
                <a href="#" class="navigation__sidebar-link">more...</a>
            </li>
            <li>
                <a href="#" class="navigation__sidebar-link">more...</a>
            </li>
        </ul>
    </aside>
</section>