<section class="navigation">
    <div class="container navigation__wrapper">
        <div class="navigation__logo">
            <a href="./index.html">
            </a>
        </div>
        <div class="navigation__content">
            <ul class="navigation__links">
                <li class="navigation__link-wrap">
                    <a id="showNew" href="#" class="navigation__link">new</a>
                    <div id="showNewItem" class="navigation__mega-menu">
                        <ul class="mega-menu-column">
                            <li class="mega-menu__table-item">
                                <a href="#">T-shirt</a>
                            </li>
                            <li class="mega-menu__table-item">
                                <a href="#">T-shirt </a>
                            </li>
                            <li class="mega-menu__table-item">
                                <a href="#">T-shirt </a>
                            </li>
                            <li class="mega-menu__table-item">
                                <a href="#">T-shirt </a>
                            </li>
                        </ul>
                        <ul class="mega-menu-column">
                            <li class="mega-menu__table-item">
                                <a href="#">T-shirt</a>
                            </li>
                            <li class="mega-menu__table-item">
                                <a href="#">T-shirt </a>
                            </li>
                            <li class="mega-menu__table-item">
                                <a href="#">T-shirt </a>
                            </li>
                            <li class="mega-menu__table-item">
                                <a href="#">T-shirt </a>
                            </li>
                        </ul>
                        <ul class="mega-menu-column">
                            <li class="mega-menu__table-item">
                                <a href="#">T-shirt</a>
                            </li>
                            <li class="mega-menu__table-item">
                                <a href="#">T-shirt </a>
                            </li>
                            <li class="mega-menu__table-item">
                                <a href="#">T-shirt </a>
                            </li>
                            <li class="mega-menu__table-item">
                                <a href="#">T-shirt </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="navigation__link-wrap">
                    <a href="#" class="navigation__link">designers</a>
                    <div class="navigation__mega-menu">
                        <ul class="mega-menu-column">
                            <li class="mega-menu__table-item">
                                <a href="#">jacket</a>
                            </li>
                            <li class="mega-menu__table-item">
                                <a href="#">jacket </a>
                            </li>
                            <li class="mega-menu__table-item">
                                <a href="#">jacket </a>
                            </li>
                            <li class="mega-menu__table-item">
                                <a href="#">jacket </a>
                            </li>
                        </ul>
                        <ul class="mega-menu-column">
                            <li class="mega-menu__table-item">
                                <a href="#">jacket</a>
                            </li>
                            <li class="mega-menu__table-item">
                                <a href="#">jacket </a>
                            </li>
                            <li class="mega-menu__table-item">
                                <a href="#">jacket </a>
                            </li>
                            <li class="mega-menu__table-item">
                                <a href="#">jacket </a>
                            </li>
                        </ul>
                        <ul class="mega-menu-column">
                            <li class="mega-menu__table-item">
                                <a href="#">jacket</a>
                            </li>
                            <li class="mega-menu__table-item">
                                <a href="#">jacket </a>
                            </li>
                            <li class="mega-menu__table-item">
                                <a href="#">jacket </a>
                            </li>
                            <li class="mega-menu__table-item">
                                <a href="#">jacket </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="navigation__link-wrap">
                    <a href="#" class="navigation__link">women</a>
                    <div class="navigation__mega-menu">
                        <ul class="mega-menu-column">
                            <li class="mega-menu__table-item">
                                <a href="#">chemise</a>
                            </li>
                            <li class="mega-menu__table-item">
                                <a href="#">chemise </a>
                            </li>
                            <li class="mega-menu__table-item">
                                <a href="#">chemise </a>
                            </li>
                            <li class="mega-menu__table-item">
                                <a href="#">chemise </a>
                            </li>
                        </ul>
                        <ul class="mega-menu-column">
                            <li class="mega-menu__table-item">
                                <a href="#">chemise</a>
                            </li>
                            <li class="mega-menu__table-item">
                                <a href="#">chemise </a>
                            </li>
                            <li class="mega-menu__table-item">
                                <a href="#">chemise </a>
                            </li>
                            <li class="mega-menu__table-item">
                                <a href="#">chemise </a>
                            </li>
                        </ul>
                        <ul class="mega-menu-column">
                            <li class="mega-menu__table-item">
                                <a href="#">chemise</a>
                            </li>
                            <li class="mega-menu__table-item">
                                <a href="#">chemise </a>
                            </li>
                            <li class="mega-menu__table-item">
                                <a href="#">chemise </a>
                            </li>
                            <li class="mega-menu__table-item">
                                <a href="#">chemise </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="navigation__link-wrap">
                    <a href="#" class="navigation__link">men</a>
                    <div class="navigation__mega-menu">
                        <ul class="mega-menu-column">
                            <li class="mega-menu__table-item">
                                <a href="#">kimono</a>
                            </li>
                            <li class="mega-menu__table-item">
                                <a href="#">kimono </a>
                            </li>
                            <li class="mega-menu__table-item">
                                <a href="#">kimono </a>
                            </li>
                            <li class="mega-menu__table-item">
                                <a href="#">kimono </a>
                            </li>
                        </ul>
                        <ul class="mega-menu-column">
                            <li class="mega-menu__table-item">
                                <a href="#">kimono</a>
                            </li>
                            <li class="mega-menu__table-item">
                                <a href="#">kimono </a>
                            </li>
                            <li class="mega-menu__table-item">
                                <a href="#">kimono </a>
                            </li>
                            <li class="mega-menu__table-item">
                                <a href="#">kimono </a>
                            </li>
                        </ul>
                        <ul class="mega-menu-column">
                            <li class="mega-menu__table-item">
                                <a href="#">kimono</a>
                            </li>
                            <li class="mega-menu__table-item">
                                <a href="#">kimono </a>
                            </li>
                            <li class="mega-menu__table-item">
                                <a href="#">kimono </a>
                            </li>
                            <li class="mega-menu__table-item">
                                <a href="#">kimono </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="navigation__link-wrap">
                    <a href="#" class="navigation__link">clearence</a>
                    <div class="navigation__mega-menu">
                        <ul class="mega-menu-column">
                            <li class="mega-menu__table-item">
                                <a href="#">overalls</a>
                            </li>
                            <li class="mega-menu__table-item">
                                <a href="#">overalls</a>
                            </li>
                            <li class="mega-menu__table-item">
                                <a href="#">overalls</a>
                            </li>
                            <li class="mega-menu__table-item">
                                <a href="#">overalls</a>
                            </li>
                        </ul>
                        <ul class="mega-menu-column">
                            <li class="mega-menu__table-item">
                                <a href="#">overalls</a>
                            </li>
                            <li class="mega-menu__table-item">
                                <a href="#">overalls</a>
                            </li>
                            <li class="mega-menu__table-item">
                                <a href="#">overalls</a>
                            </li>
                            <li class="mega-menu__table-item">
                                <a href="#">overalls</a>
                            </li>
                        </ul>
                        <ul class="mega-menu-column">
                            <li class="mega-menu__table-item">
                                <a href="#">overalls</a>
                            </li>
                            <li class="mega-menu__table-item">
                                <a href="#">overalls</a>
                            </li>
                            <li class="mega-menu__table-item">
                                <a href="#">overalls</a>
                            </li>
                            <li class="mega-menu__table-item">
                                <a href="#">overalls</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
            <form class="navigation__cart">
                <button id="header-cart" class="navigation__cart-button">
                    Your cart
                </button>
                <div class="navigation__cart-desc">
                    <a href="#" class="cart-desc__link"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a>
                    <div class="cart-desc__choice">
                        <div class="cart-desc__choice-row">
                            <span id="cart-desc-sum" class="cart-desc__choice-price">0</span>
                            <span class="cart-desc__choice-items">items</span>
                        </div>
                        <div class="cart-desc__choice-row">
                            <span class="cart-desc__choice-price">$&ensp;</span>
                            <span id="cart-desc-price" class="cart-desc__choice-price">0</span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="container navigation__mobile">
        <div class="navigation__mobile-row">
            <div class="navigation__mobile-title">Menu</div>
            <button id="sidebar-btn" class="navigation__mobile-burger"><span></span></button>
        </div>
    </div>
</section>