<section class="prifile">
    <form class="prifile-form">
        <h2 class="profile__title">Welcome:</h2>
        <input type="email" class="profile__input" placeholder="enter your email" required>
        <input type="password" class="profile__input" placeholder="enter your password" required>
        <div class="profile__btn-row">
            <button id="profile-btn-submit" type="submit" class="profile__btn">Submit</button>
            <button type="reset" class="profile__btn">Reset</button>
        </div>
        <button type="button" class="profile__exit"></button>
    </form>
</section>