<section class="promo">
    <div class="container">
        <div class="promo-wrapper">
            <div class="promo-column">
                <a href="" class="promo__item">
                    <img src="./images/promo/01.jpg" alt="01.jpg">
                    <div class="promo__text promo__text--outfits">
                        <p class="promo__text-tag">best</p>
                        <p class="promo__text-type">outfits</p>
                        <span class="promo__text-elem">&</span>
                        <p class="promo__text-slogan">looks</p>
                    </div>
                </a>
            </div>
            <div class="promo-column">
                <div class="promo-column__item">
                    <a href="" class="promo__item">
                        <img src="./images/promo/02.jpg" alt="02.jpg">
                        <div class="promo__text promo__text--party">
                            <div class="promo__text--party-wrap">
                                <span>summer</span>
                                <p>party</p>
                                <span>collection</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="promo-column__item">
                    <a href="" class="promo__item promo__item--gradient">
                        <img src="./images/promo/03.jpg" alt="03.jpg">
                        <div class="promo__text promo__text--best-sellers">
                            <p>best&nbsp;sellers&nbsp;<span></span></p>
                        </div>
                    </a>
                    <a href="" class="promo__item">
                        <img src="./images/promo/04.jpg" alt="04.jpg">
                        <div class="promo__text promo__text--fall-leather">
                            <p>fall leather</p>
                            <span>shop now</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>