<section class="related-products">
    <h3 class="related-products__title">related products</h3>
    <div class="container">
        <div class="related-products__cards">
            <div class="shop__card">
                <a href="./product.html" class="shop__card-img">
                    <img src="./images/cards/01.jpg" alt="MIMOSA LACE DRESS">
                    <div class="shop__card-img-svg">
                        <div><img src="./images/vector/cart.png" alt="cart.png"></div>
                        <span>shop it</span>
                    </div>
                </a>
                <div class="shop__card-text">
                    <h4 class="shop__card-title">MIMOSA LACE DRESS</h4>
                    <p class="shop__card-price">$76.95</p>
                    <a href="./product.html" class="shop__card-btn">add to cart<span></span></a>
                </div>
                <div class="shop__sale">
                    <span>SALE</span>
                </div>
            </div>
            <div class="shop__card shop__card--sale">
                <a href="./product.html" class="shop__card-img">
                    <img src="./images/cards/02.jpg" alt="FEEL TANK">
                    <div class="shop__card-img-svg">
                        <div><img src="./images/vector/cart.png" alt="cart.png"></div>
                        <span>shop it</span>
                    </div>
                </a>
                <div class="shop__card-text">
                    <h4 class="shop__card-title">FEEL TANK</h4>
                    <p class="shop__card-price">$59.95</p>
                    <a href="./product.html" class="shop__card-btn">add to cart<span></span></a>
                </div>
                <div class="shop__sale">
                    <span>SALE</span>
                </div>
            </div>
            <div class="shop__card shop__card--sale">
                <a href="./product.html" class="shop__card-img">
                    <img src="./images/cards/04.jpg" alt="PETROL SWEATER">
                    <div class="shop__card-img-svg">
                        <div><img src="./images/vector/cart.png" alt="cart.png"></div>
                        <span>shop it</span>
                    </div>
                </a>
                <div class="shop__card-text">
                    <h4 class="shop__card-title">PETROL SWEATER</h4>
                    <p class="shop__card-price">$21.50</p>
                    <a href="./product.html" class="shop__card-btn">add to cart<span></span></a>
                </div>
                <div class="shop__sale">
                    <span>SALE</span>
                </div>
            </div>
            <div class="shop__card shop__card--sale">
                <a href="./product.html" class="shop__card-img">
                    <img src="./images/cards/05.jpg" alt="NICOLE DRESS">
                    <div class="shop__card-img-svg">
                        <div><img src="./images/vector/cart.png" alt="cart.png"></div>
                        <span>shop it</span>
                    </div>
                </a>
                <div class="shop__card-text">
                    <h4 class="shop__card-title">NICOLE DRESS</h4>
                    <p class="shop__card-price">$55.50</p>
                    <a href="./product.html" class="shop__card-btn">add to cart<span></span></a>
                </div>
                <div class="shop__sale">
                    <span>SALE</span>
                </div>
            </div>
        </div>
    </div>
</section>