<section class="shop-mobile">
    <div class="shop-mobile-wrap">
        <div class="shop-mobile__dropdown">
            <button type="button" id="shop-btn-title" class="shop-mobile__dropdown-btn">what’s hot?</button>
        </div>
        <div class="shop-mobile__cards container">
            <div class="shop__card">
                <a href="#" class="shop__card-img">
                    <img src="./images/cards/10.jpg" alt="MIMOSA LACE DRESS">
                    <div class="shop__card-img-svg">
                        <div><img src="./images/vector/cart.png" alt="cart.png"></div>
                        <span>shop it</span>
                    </div>
                </a>
                <div class="shop__card-text">
                    <h4 class="shop__card-title">MIMOSA LACE DRESS</h4>
                    <p class="shop__card-price">$76.95</p>
                    <a href="#" class="shop__card-btn">add to cart<span></span></a>
                </div>
                <div class="shop__sale">
                    <span>SALE</span>
                </div>
            </div>
            <div class="shop__card">
                <a href="#" class="shop__card-img">
                    <img src="./images/cards/11.jpg" alt="WishVitalise Dress">
                    <div class="shop__card-img-svg">
                        <div><img src="./images/vector/cart.png" alt="cart.png"></div>
                        <span>shop it</span>
                    </div>
                </a>
                <div class="shop__card-text">
                    <h4 class="shop__card-title">WishVitalise Dress</h4>
                    <p class="shop__card-price">$96.55</p>
                    <a href="#" class="shop__card-btn">add to cart<span></span></a>
                </div>
                <div class="shop__sale">
                    <span>SALE</span>
                </div>
            </div>
            <div class="shop__card shop__card--sale hidden">
                <a href="#" class="shop__card-img">
                    <img src="./images/cards/04.jpg" alt="PETROL SWEATER">
                    <div class="shop__card-img-svg">
                        <div><img src="./images/vector/cart.png" alt="cart.png"></div>
                        <span>shop it</span>
                    </div>
                </a>
                <div class="shop__card-text">
                    <h4 class="shop__card-title">PETROL SWEATER</h4>
                    <p class="shop__card-price">$21.50</p>
                    <a href="#" class="shop__card-btn">add to cart<span></span></a>
                </div>
                <div class="shop__sale">
                    <span>SALE</span>
                </div>
            </div>
            <div class="shop__card hidden">
                <a href="#" class="shop__card-img">
                    <img src="./images/cards/06.jpg" alt="Randi Long Top">
                    <div class="shop__card-img-svg">
                        <div><img src="./images/vector/cart.png" alt="cart.png"></div>
                        <span>shop it</span>
                    </div>
                </a>
                <div class="shop__card-text">
                    <h4 class="shop__card-title">Randi Long Top</h4>
                    <p class="shop__card-price">$32.50</p>
                    <a href="#" class="shop__card-btn">add to cart<span></span></a>
                </div>
                <div class="shop__sale">
                    <span>SALE</span>
                </div>
            </div>
        </div>
        <div class="shop-mobile__btm-more container">
            <button type="button" id="mobile-more-btn" class="btn-more">load more</button>
        </div>
    </div>
</section>





