<section class="shop">
    <div class="container shop__nav">
        <div class="shop__nav-control">
        <input id="what-hot" type="radio" name="checkbox" class="shop__nav-input" value="what’s hot?" checked>
        <label for="what-hot" class="shop__nav-label">
            what’s hot?
        </label>
        <input id="designers" type="radio" name="checkbox" class="shop__nav-input" value="designers">
        <label for="designers" class="shop__nav-label">
            designers                    
        </label>
        <input id="featured" type="radio" name="checkbox" class="shop__nav-input" value="featured">
        <label for="featured" class="shop__nav-label">
            featured
        </label>
        <input id="latest" type="radio" name="checkbox" class="shop__nav-input" value="latest">
        <label for="latest" class="shop__nav-label">
            latest
        </label>
        </div>
        <div class="shop__nav-btn">
            <button class="customNextBtn"><i class="fa fa-angle-left" aria-hidden="true"></i></button>
            <button class="customPrevBtn"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
        </div>
    </div>
    <div class="shop__carousel">
        <div class="shop__carousel-wrap owl-carousel owl-theme">
            <div class="owl-carousel-item">
                <div class="shop__card">
                    <a href="./product.html" class="shop__card-img">
                        <img src="./images/cards/01.jpg" alt="MIMOSA LACE DRESS">
                        <div class="shop__card-img-svg">
                            <div><img src="./images/vector/cart.png" alt="cart.png"></div>
                            <span>shop it</span>
                        </div>
                    </a>
                    <div class="shop__card-text">
                        <h4 class="shop__card-title">MIMOSA LACE DRESS</h4>
                        <p class="shop__card-price">$76.95</p>
                        <a href="./product.html" class="shop__card-btn">add to cart<span></span></a>
                    </div>
                    <div class="shop__sale">
                        <span>SALE</span>
                    </div>
                </div>
            </div>
            <div class="owl-carousel-item">
                <div class="shop__card shop__card--sale">
                    <a href="./product.html" class="shop__card-img">
                        <img src="./images/cards/02.jpg" alt="FEEL TANK">
                        <div class="shop__card-img-svg">
                            <div><img src="./images/vector/cart.png" alt="cart.png"></div>
                            <span>shop it</span>
                        </div>
                    </a>
                    <div class="shop__card-text">
                        <h4 class="shop__card-title">FEEL TANK</h4>
                        <p class="shop__card-price">$59.95</p>
                        <a href="./product.html" class="shop__card-btn">add to cart<span></span></a>
                    </div>
                    <div class="shop__sale">
                        <span>SALE</span>
                    </div>
                </div>
            </div>
            <div class="owl-carousel-item">
                <div class="shop__card">
                    <a href="./product.html" class="shop__card-img">
                        <img src="./images/cards/03.jpg" alt="HOT SHORTS">
                        <div class="shop__card-img-svg">
                            <div><img src="./images/vector/cart.png" alt="cart.png"></div>
                            <span>shop it</span>
                        </div>
                    </a>
                    <div class="shop__card-text">
                        <h4 class="shop__card-title">HOT SHORTS</h4>
                        <p class="shop__card-price">$35.95</p>
                        <a href="./product.html" class="shop__card-btn">add to cart<span></span></a>
                    </div>
                    <div class="shop__sale">
                        <span>SALE</span>
                    </div>
                </div>
            </div>
            <div class="owl-carousel-item">
                <div class="shop__card shop__card--sale">
                    <a href="./product.html" class="shop__card-img">
                        <img src="./images/cards/04.jpg" alt="PETROL SWEATER">
                        <div class="shop__card-img-svg">
                            <div><img src="./images/vector/cart.png" alt="cart.png"></div>
                            <span>shop it</span>
                        </div>
                    </a>
                    <div class="shop__card-text">
                        <h4 class="shop__card-title">PETROL SWEATER</h4>
                        <p class="shop__card-price">$21.50</p>
                        <a href="./product.html" class="shop__card-btn">add to cart<span></span></a>
                    </div>
                    <div class="shop__sale">
                        <span>SALE</span>
                    </div>
                </div>
            </div>
            <div class="owl-carousel-item">
                <div class="shop__card shop__card--sale">
                    <a href="./product.html" class="shop__card-img">
                        <img src="./images/cards/05.jpg" alt="NICOLE DRESS">
                        <div class="shop__card-img-svg">
                            <div><img src="./images/vector/cart.png" alt="cart.png"></div>
                            <span>shop it</span>
                        </div>
                    </a>
                    <div class="shop__card-text">
                        <h4 class="shop__card-title">NICOLE DRESS</h4>
                        <p class="shop__card-price">$55.50</p>
                        <a href="./product.html" class="shop__card-btn">add to cart<span></span></a>
                    </div>
                    <div class="shop__sale">
                        <span>SALE</span>
                    </div>
                </div>
            </div>
            <div class="owl-carousel-item">
                <div class="shop__card">
                    <a href="./product.html" class="shop__card-img">
                        <img src="./images/cards/06.jpg" alt="Randi Long Top">
                        <div class="shop__card-img-svg">
                            <div><img src="./images/vector/cart.png" alt="cart.png"></div>
                            <span>shop it</span>
                        </div>
                    </a>
                    <div class="shop__card-text">
                        <h4 class="shop__card-title">Randi Long Top</h4>
                        <p class="shop__card-price">$32.50</p>
                        <a href="./product.html" class="shop__card-btn">add to cart<span></span></a>
                    </div>
                    <div class="shop__sale">
                        <span>SALE</span>
                    </div>
                </div>
            </div>
            <div class="owl-carousel-item">
                <div class="shop__card">
                    <a href="./product.html" class="shop__card-img">
                        <img src="./images/cards/07.jpg" alt="Petrol suit">
                        <div class="shop__card-img-svg">
                            <div><img src="./images/vector/cart.png" alt="cart.png"></div>
                            <span>shop it</span>
                        </div>
                    </a>
                    <div class="shop__card-text">
                        <h4 class="shop__card-title">Petrol suit</h4>
                        <p class="shop__card-price">$48.50</p>
                        <a href="./product.html" class="shop__card-btn">add to cart<span></span></a>
                    </div>
                    <div class="shop__sale">
                        <span>SALE</span>
                    </div>
                </div>
            </div>
            <div class="owl-carousel-item">
                <div class="shop__card">
                    <a href="./product.html" class="shop__card-img">
                        <img src="./images/cards/08.jpg" alt="Randi Long Dress">
                        <div class="shop__card-img-svg">
                            <div><img src="./images/vector/cart.png" alt="cart.png"></div>
                            <span>shop it</span>
                        </div>
                    </a>
                    <div class="shop__card-text">
                        <h4 class="shop__card-title">Randi Long Dress</h4>
                        <p class="shop__card-price">$42.50</p>
                        <a href="./product.html" class="shop__card-btn">add to cart<span></span></a>
                    </div>
                    <div class="shop__sale">
                        <span>SALE</span>
                    </div>
                </div>
            </div>
            <div class="owl-carousel-item">
                <div class="shop__card">
                    <a href="./product.html" class="shop__card-img">
                        <img src="./images/cards/09.jpg" alt="Tiffany Dress">
                        <div class="shop__card-img-svg">
                            <div><img src="./images/vector/cart.png" alt="cart.png"></div>
                            <span>shop it</span>
                        </div>
                    </a>
                    <div class="shop__card-text">
                        <h4 class="shop__card-title">Tiffany Dress</h4>
                        <p class="shop__card-price">$88.50</p>
                        <a href="./product.html" class="shop__card-btn">add to cart<span></span></a>
                    </div>
                    <div class="shop__sale">
                        <span>SALE</span>
                    </div>
                </div>
            </div>
            <div class="owl-carousel-item">
                <div class="shop__card">
                    <a href="./product.html" class="shop__card-img">
                        <img src="./images/cards/10.jpg" alt="MIMOSA LACE DRESS">
                        <div class="shop__card-img-svg">
                            <div><img src="./images/vector/cart.png" alt="cart.png"></div>
                            <span>shop it</span>
                        </div>
                    </a>
                    <div class="shop__card-text">
                        <h4 class="shop__card-title">MIMOSA LACE DRESS</h4>
                        <p class="shop__card-price">$76.95</p>
                        <a href="./product.html" class="shop__card-btn">add to cart<span></span></a>
                    </div>
                    <div class="shop__sale">
                        <span>SALE</span>
                    </div>
                </div>
            </div>
            <div class="owl-carousel-item">
                <div class="shop__card">
                    <a href="./product.html" class="shop__card-img">
                        <img src="./images/cards/11.jpg" alt="WishVitalise Dress">
                        <div class="shop__card-img-svg">
                            <div><img src="./images/vector/cart.png" alt="cart.png"></div>
                            <span>shop it</span>
                        </div>
                    </a>
                    <div class="shop__card-text">
                        <h4 class="shop__card-title">WishVitalise Dress</h4>
                        <p class="shop__card-price">$96.55</p>
                        <a href="./product.html" class="shop__card-btn">add to cart<span></span></a>
                    </div>
                    <div class="shop__sale">
                        <span>SALE</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>