<section id="sidebar" class="navigation__sidebar navigation__sidebar--hidden">
    <ul class="navigation__sidebar-col">
        <li>
            <a href="#" class="navigation__sidebar-link">new</a>
        </li>
        <li>
            <a href="#" class="navigation__sidebar-link">designers</a>
        </li>
        <li>
            <a href="#" class="navigation__sidebar-link">women</a>
        </li>
        <li>
            <a href="#" class="navigation__sidebar-link">men</a>
        </li>
        <li>
            <a href="#" class="navigation__sidebar-link">kids</a>
        </li>
        <li>
            <a href="#" class="navigation__sidebar-link">clearence</a>
        </li>
        <li>
            <a href="#" class="navigation__sidebar-link">premium</a>
        </li>
        <li>
            <a href="#" class="navigation__sidebar-link">Shirts, blouses</a>
        </li>
        <li>
            <a href="#" class="navigation__sidebar-link">Dresses, gowns</a>
        </li>
        <li>
            <a href="#" class="navigation__sidebar-link">Trousers, pants</a>
        </li>
        <li>
            <a href="#" class="navigation__sidebar-link">Jeans</a>
        </li>
        <li>
            <a href="#" class="navigation__sidebar-link">Skirts</a>
        </li>
        <li>
            <a href="#" class="navigation__sidebar-link">more...</a>
        </li>
        <li>
            <a href="#" class="navigation__sidebar-link">more...</a>
        </li>
        <li>
            <a href="#" class="navigation__sidebar-link">more...</a>
        </li>
        <li>
            <a href="#" class="navigation__sidebar-link">more...</a>
        </li>
        <li>
            <a href="#" class="navigation__sidebar-link">more...</a>
        </li>
        <li>
            <a href="#" class="navigation__sidebar-link">more...</a>
        </li>
        <li>
            <a href="#" class="navigation__sidebar-link">more...</a>
        </li>
        <li>
            <a href="#" class="navigation__sidebar-link">more...</a>
        </li>
        <li>
            <a href="#" class="navigation__sidebar-link">more...</a>
        </li>
        <li>
            <a href="#" class="navigation__sidebar-link">more...</a>
        </li>
    </ul>
</section>