<section class="social">
    <div class="container">
        <div class="social-wrapper">
            <form id="social-form" class="social__item">
                <p class="social__text">Stay updated</p>
                <input type="email" class="social__input" placeholder="Your email address">
                <button type="submit" class="social__button"><span></span></button>
            </form>
            <div class="social__item">
                <p class="social__text">Find us here</p>
                <a href="" class="social__icon"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="" class="social__icon social__icon--grey"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="" class="social__icon"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</section>