<!DOCTYPE html>
<html lang="ru">
<head>
    {{> head }}
</head>
<body>

    <div class="page">
        <header class="header">
            {{> nav-panel }}
            {{> navigation }}
            {{> sidebar }}
        </header>

        <main class="main">
            {{> body }}
        </main>

        <footer class="footer">
            {{> payment }}
            {{> footer-inner }}
            {{> copyright }}
        </footer>
    </div>

    <script src="libs/owl-carousel/jQuery-3-5-1.js"></script>
    <script src="libs/owl-carousel/owl.carousel.min.js"></script>
    <script src="js/app.js"></script>
</body>
</html>
