<!DOCTYPE html>
<html lang="en">
<head>
    {{> head }}
</head>
<body>

    <div class="page">
        <header class="header">
            <div class="header-wrapper">
                {{> nav-panel }}
                {{> navigation }}
                {{> profile }}
            </div>
        </header>

        <aside>
            {{> sidebar }}
        </aside>

        <main class="main">
            {{> body }}
        </main>

        <footer class="footer">
            {{> payment }}
            {{> footer-inner }}
            {{> copyright }}
        </footer>

    </div>

    <script src="libs/owl-carousel/jQuery-3-5-1.js"></script>
    <script src="libs/owl-carousel/owl.carousel.min.js"></script>
    <script src="js/app.js"></script>
</body>
</html>
